*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
tsconfig.tsbuildinfo
oclif.manifest.json

yarn.lock
pnpm-lock.yaml

.scribemuse
PROMPT.md

/examples/assistant/node_modules
/examples/assistant/dist
/examples/assistant/.assistant
/examples/assistant/workspace
*.tgz
