*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
tsconfig.tsbuildinfo
oclif.manifest.json

yarn.lock
pnpm-lock.yaml

.scribemuse
PROMPT.md

/examples/agent/node_modules
/examples/agent/dist
/examples/agent/.agent
/examples/agent/workspace
*.tgz
